;How to use: modify the machine parameters in this text and save, and then copy it to the TF card or U disk.
;Enter the "Settings" -> "System" -> "System Update", and select the TF card or U disk that with the configuration file.
;Select and implement the configuration file.

M867 S0
;Set the system language(0:English 1:Simplified Chinese)

M868 R136 U252 B0

M860 S2
;Set the printer structure mode(S0:XYZ; S1:delta; S2:corexy; S3:corexz;)

M860 X250.000 Y210.000 Z250.000
;X:X-axis travel space
;Y:Y-axis travel space
;Z:Z-axis travel space

M206 X-2.000 Y0.000 Z0.000
;X:X-axis origin offset
;Y:Y-axis origin offset
;Z:Z-axis origin offset

M861 X-1 Y-1 Z1
;X:X-axis origin position
;Y:Y-axis origin position
;Z:Z-axis origin position

M869 S230.000 F1800.000 L780.000 E20.000 R0.000
;S:Minimum temperature when changing filament
;F:With the speed of changing filaments(mm/min)
;L:With the length of the filament(mm)
;E:Extrusion length after changing filaments(mm)
;R:After the filament is replaced, the length is extracted after extrusion

M207 S4.000 F1500.000 Z2.000
;S:retract length
;F:retract and recover speed(mm/min)
;Z:retract and recover Z axis lift

M208 S4.000 F1500.000 Z2.000
;S:recover length
;F:retract and recover speed(mm/min)
;Z:retract and recover Z axis lift

M872 X1 Y1 Z0
;X:X-endstop wiring mode(0:normal open 1:normal close)
;Y:Y-endstop wiring mode(0:normal open 1:normal close)
;Z:Z-endstop wiring mode(0:normal open 1:normal close)

M862 X1 Y1 Z1
;X:X-endstop trigger mode(0:low trigger 1:high trigger)
;Y:Y-endstop trigger mode(0:low trigger 1:high trigger)
;Z:Z-endstop trigger mode(0:low trigger 1:high trigger)

M866 X0.000 Y0.000 Z0.000 A10.000 B90.000 C160.000 S0 T1 W0 F0
;X:Offset of the probe relative to the first nozzle on the X axis
;Y:Offset of the probe relative to the first nozzle on the Y axis
;Z:Offset of the probe relative to the first nozzle on the Z axis
;O:Probe opening angle
;C:Probe closed angle
;R:Probe reset angle
;S:Automatic leveling points
;T:Probe trigger mode(0:low trigger 1:high trigger)
;W:Probe wiring mode(0:normal open 1:normal close)
;F:Probe function(0:Probe just uses to autoleveling 1:Probe uses to autoleveling and Z-min endstop)

M876 X5.000 Y5.000 Z2.000 R5.000 F40.000
;X:X axis position after pause
;Y:Y axis position after pause
;Z:Z lift when pause
;R:Retract when pause
;F:Retract speed after pause

M900 E0 K0.000
;Extruder linear advance factor

M900 E1 K0.000
;Extruder linear advance factor

M201 X2000.000 Y2000.000 Z100.000 E2000.000 
;X:X-axis max acceleration(mm/s*s)
;Y:Y-axis max acceleration(mm/s*s)
;Z:Z-axis max acceleration(mm/s*s)
;E:E-axis max acceleration(mm/s*s)

M203 X300.000 Y300.000 Z15.000 E200.000 T3.000 P3.000
;X:X-axis max feedrate(mm/s)
;Y:Y-axis max feedrate(mm/s)
;Z:Z-axis max feedrate(mm/s)
;E:E-axis max feedrate(mm/s)
;T:min travel speed(mm/s)
;P:min print speed(mm/s)
 
M204 P2000.000 R3000.000 T3000.000
;P:Print acceleration(mm/s*s)
;T:Travel acceleration(mm/s*s)
;R:Retraction acceleration(mm/s*s)

M205 X10.000 Y10.000 Z5.000 E10.000
;X:X-axis mutation speed(mm/s)
;Y:Y-axis mutation speed(mm/s)
;Z:Z-axis mutation speed(mm/s)
;E:E-axis mutation speed(mm/s)

M210 X40.000 Y40.000 Z10.000
;X:X-axis homing speed(mm/s)
;Y:Y-axis homing speed(mm/s)
;Z:Z-axis homing speed(mm/s)

M877 X10.000 Y10.000 Z5.000
;X:X-axis positioning speed(mm/s)
;Y:Y-axis positioning speed(mm/s)
;Z:Z-axis positioning speed(mm/s)

M92 X80.000 Y80.000 Z800.000 A409.550 B98.000
;X:X-axis motor step value
;Y:Y-axis motor step value
;Z:Z-axis motor step value
;A:E0-axis motor step value
;B:E1-axis motor step value

M93 X1 Y1 Z0 A1 B0
;X:X-axis motor direction
;Y:Y-axis motor direction
;Z:Z-axis motor direction
;A:E0-axis motor direction
;B:E1-axis motor direction

M142 H0 S0.000
;S:Hotend0 min temperature
M142 B0.000
;B:Hotbed min temperature

M143 H0 S260.000
;S:Hotend0 max temperature
M143 B110.000
;B:Hotbed max temperature

M144 H0 S0.500
;S:Hotend0 Temperature protection threshold
M144 B0.200
;B:Hotbed Temperature protection threshold

M301 H0 P176.246 I6.528 D1189.659
;P:Hotend0 Proportional coefficient
;I:Hotend0 Integral coefficient
;D:Hotend0 Differential term coefficient
M304 P548.205 I26.742 D2809.551
;P:Hotbed Proportional coefficient
;I:Hotbed Integral coefficient
;D:Hotbed Differential term coefficient

M146 H0 P210.000 A230.000 C230.000 Q230.000
;P:PLA material hotend0 preheating temperature
;A:ABS material hotend0 preheating temperature
;C:Customize material hotend0 preheating temperature
;Q:Hotend0 common preheating temperature
M146 B P60.000 A90.000 C80.000 Q80.000
;P:PLA material hotbed preheating temperature
;A:ABS material hotbed preheating temperature
;C:Customize material hotbed preheating temperature
;Q:Hotbed common preheating temperature

M500
;Save parameter